 
    .header {
  background-color: #2a9df4;
  padding: 10px 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Small logo */
.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* Clinic name */
.text {
  font-size: 22px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
}

    .navbar{
      background-color: black;
      padding: 15px;
      top: 20px;

    }
    .navbar ul {
        list-style: none;
        display: flex;         
        gap: 120px;                  
       
    }
    .navbar ul li {
            color: white;
            cursor: pointer;
            font-size: 15px;
        }
   .navbar ul li:hover {
            color: red;
   }
  

 body {
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #f4f6f8;
        }

        header {
            background-color: #2a9df4;
            color: white;
            padding: 20px;
            text-align: center;
        }

        section {
            padding: 20px;
            margin: 20px;
            background-color: white;
            border-radius: 8px;
        }

        .banner img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 8px;
        }

        .doctors {
            display: flex;
            gap: 20px;
        }

        .doctor-card {
            background-color: #eef5ff;
            padding: 15px;
            border-radius: 8px;
            width: 30%;
            text-align: center;
        }

        